@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?8h3zl5");
  src: url("fonts/icomoon.eot?8h3zl5#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?8h3zl5") format("truetype"), url("fonts/icomoon.woff?8h3zl5") format("woff"), url("fonts/icomoon.svg?8h3zl5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook2:before {
  content: "\ea8d"; }

.icon-instagram:before {
  content: "\ea90"; }

.icon-twitter2:before {
  content: "\ea92"; }

.icon-linkedin:before {
  content: "\eac8"; }

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95); }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.main-container {
  margin-bottom: 0 !important;
  height: 100vh; }

#left-container {
  height: 80vh;
  background: -webkit-linear-gradient(left top, #5634F6, #DB8EC0, #FECAD2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5634F6, #DB8EC0, #FECAD2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #5634F6, #DB8EC0, #FECAD2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5634F6, #DB8EC0, #FECAD2);
  /* Standard syntax */ }
  @media only screen and (min-width: 601px) {
    #left-container {
      position: fixed;
      float: left;
      display: inline-block;
      height: 100vh; } }
  #left-container .inner-text {
    height: 100%;
    text-align: center; }
  #left-container .text-wrapper {
    margin: 0 auto; }
  #left-container #picture {
    width: 170px;
    margin-bottom: 40px; }
  #left-container span {
    color: #4C34F7; }
  #left-container #name {
    font-size: 2em; }
  #left-container p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    line-height: 15px; }
  #left-container .desc {
    font-size: 1.4em; }
  #left-container .left-button {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
    color: white; }
    #left-container .left-button span {
      color: #5634F6; }
    #left-container .left-button:hover {
      text-decoration: none;
      background: transparent;
      border-radius: 0px; }
      #left-container .left-button:hover span {
        color: white; }
  #left-container .social-media {
    font-size: 18px;
    margin-top: 20px; }
    #left-container .social-media a {
      margin-right: 5px;
      color: #5634F6; }
      #left-container .social-media a:hover, #left-container .social-media a:focus {
        text-decoration: none;
        cursor: pointer; }
        #left-container .social-media a:hover span, #left-container .social-media a:focus span {
          color: white; }

#right-container {
  float: right;
  padding: 50px; }
  #right-container .row {
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  #right-container span {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #5634F6; }
  #right-container .title, #right-container .desc {
    height: 100%;
    display: inline-block; }
  #right-container .title {
    padding-right: 50px; }
  #right-container p {
    font-family: "Raleway", sans-serif;
    font-size: 1em; }
  #right-container .project-container {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
    height: 300px; }
    #right-container .project-container .text-container {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: left;
      padding: 100px 50px;
      display: none;
      border-radius: 5px; }
      #right-container .project-container .text-container p {
        font-family: "Montserrat", sans-serif;
        color: white; }
  #right-container #lax {
    background-image: url(../laxsite.png); }
    #right-container #lax .text-container {
      background: -webkit-linear-gradient(left top, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* Standard syntax */ }
  #right-container #woke {
    background-image: url(../woke.png); }
    #right-container #woke .text-container {
      background: -webkit-linear-gradient(left top, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* Standard syntax */ }
  #right-container #chrysalis {
    background-image: url(../chrysalis.png); }
    #right-container #chrysalis .text-container {
      background: -webkit-linear-gradient(left top, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, rgba(138, 138, 138, 0.9), rgba(207, 207, 207, 0.9));
      /* Standard syntax */ }
  #right-container .project-image {
    max-width: 90%;
    border-radius: 12px;
    margin-bottom: 30px;
    /*&:hover {
    	max-width: 95%;
    }*/ }
  #right-container .project-image-grow {
    animation-name: grow;
    -webkit-animation-name: grow;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear; }
  #right-container .emphasize {
    color: #DB8EC0; }
  #right-container ul {
    font-family: "Montserrat", sans-serif; }
    #right-container ul .year {
      color: #DB8EC0;
      margin-right: 10px; }

/*# sourceMappingURL=theme.css.map */
