// Variables
$lt-blue: #80D4F7; //rgba(210, 140, 166)
$lt-pink: #F7D5E5; //(247,213,229)
$lt-purple: #C5B3DC; //(197,179,220)
$blue: #2A3070; //(42,48,112)
$pink: #D28CA6; //rgb(210, 140, 166)
$purple: #C262A6; //(194,98,166)

//keyframes
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

//gutter
@grid-gutter-width: 30px;

//fonts
@font-face {
  font-family: logo;
  src: url(../Quicksand_Bold.otf);
}

h1, h2, h3, h4, h5, h6, input {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
}

input, .btn, .form-control {
	border-radius: 0px;
	font-size: 1em;
}

.vertical-center {
   display: flex;
  justify-content: center;
}

.vertical-center--child {
	align-self: center;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#loading-wrapper {
	//background: linear-gradient(to bottom right, $lt-purple, $lt-pink);
	background: $blue;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	font-family: logo;
	.vertical-center {
		height: 100%;
	}
	p {
		font-family: logo;
		color: $lt-pink;
		white-space: nowrap;
  	overflow: hidden;
  	font-size: 2em;
  	width: 11.5em;
  	animation: type 4s steps(60, end); 
	}
	p:nth-child(2){
  	animation: type2 8s steps(60, end);
	}
	span {
		animation: blink 1s infinite;
	}
}


.logo {
	font-family: logo;
}

.text-container {
	padding: 5%;
}

.landing-container {
	#logo {
	 	h2 {
	 		font-family: logo;
	 		color: white;
	 		font-size: 2.5em;
	 		padding-left: 1em;
	 	}
	}
	min-height: 100vh;
	//background: red; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient($pink, $lt-blue); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient($pink, $lt-blue); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient($pink, $lt-blue); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(rgba(210, 140, 166, 0.8), rgba(247, 213, 229, 1), rgba(247, 213, 229, 0)); /* Standard syntax */
  //background: linear-gradient($lt-blue,  white);

  #landing-image {
  	width: 400px;
  	display: block;
  	margin: 0 auto;
  }

  .text-container {
  	padding: 5%;
  	h1 {
  		font-size: 3.2em;
  		color: white;
  	}
  	h2 {
  		color: white;
  		font-size: 2.5em;
  	}
  	p {
  		color: white;
  		margin-top: 2em;
  		margin-bottom: 2em;
  		font-size: 1.2em;
  	}
  }

  .form-group {
  	.email {
  		width: 0%;
  		padding: 0;
  		border: none;
  		display: inline-block;
  		position: relative;
  		@media (max-width: 500px) {
  	    width: 100%;
  	    margin-bottom: 10px;
  	    padding: 6px 12px;
  	  }
  	}
  	.submit {
  		display: inline-block;
  		background-color: $lt-purple;
  		border: none;
  		padding: 6px 20px;
  		position: relative;
  		bottom: 1px;
  		&:hover {
  			border: 2px solid $lt-purple;
  			background-color: transparent;
  			color: $lt-purple;
  		}
  	}
  }
}

.pic-container {
	padding: 5%;
	@media (max-width: 500px) {
    display: none;
  }
}

.pics {
	width: 500px;
}

.vision-container {
	min-height: 80vh;
	//background: linear-gradient(white, $lt-pink);
	//background: white;
}

.hydration-container {
	min-height: 80vh;
	//background: linear-gradient($lt-pink, white);
	//background: $blue;
}

.charge-container {
	min-height: 80vh;
	//background: linear-gradient(white, $lt-purple);
	//background: $lt-purple;
}

.icon-container {
	text-align: center;
	background-color: $lt-blue;
	color: white;
	padding: 50px;
	.icons {
		@media screen and (min-width: 768px) {
			padding: 50px 200px;
		}
	}
	img {
		width: 70px;
	}
	.icon {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		margin-left: 10px;
		background-size: cover;
		background-position: center;
		display: inline-block;
	}
	.h20 {
		background-image: url(../img/faucet.png);
	}
	.charge {
		background-image: url(../img/plug.png);
	}
	.backpack {
		background-image: url(../img/backpack.png);
	}
	.charity {
		background-image: url(../img/donation.png)
	}
	.logo {
		font-size: 3em;
		text-transform: lowercase;
		font-family: logo;
	}
	.email-footer {
		width: 40%;
		display: inline-block;
		@media (max-width: 500px) {
	    width: 100%;
	    margin-bottom: 10px;
	  }
	}
	p {
		font-family: 'Montserrat', sans-serif;
	}
	.copyright {
		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		margin-top: 15px;
	}
	.submit {
  	display: inline-block;
  	background-color: $lt-purple;
  	border: none;
  	&:hover {
  		border: 2px solid $lt-purple;
  		background-color: transparent;
  		color: $lt-purple;
  	}
  	@media (max-width: 500px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}


