@keyframes type {
  from {
    width: 0; } }
@keyframes type2 {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100; } }
@keyframes blink {
  to {
    opacity: .0; } }
::selection {
  background: black; }

@grid-gutter-width : 30px;
@font-face {
  font-family: logo;
  src: url(../Quicksand_Bold.otf); }
h1, h2, h3, h4, h5, h6, input {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; }

input, .btn, .form-control {
  border-radius: 0px;
  font-size: 1em; }

.vertical-center {
  display: flex;
  justify-content: center; }

.vertical-center--child {
  align-self: center; }

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

#loading-wrapper {
  background: #2A3070;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  font-family: logo; }
  #loading-wrapper .vertical-center {
    height: 100%; }
  #loading-wrapper p {
    font-family: logo;
    color: #F7D5E5;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2em;
    width: 11.5em;
    animation: type 4s steps(60, end); }
  #loading-wrapper p:nth-child(2) {
    animation: type2 8s steps(60, end); }
  #loading-wrapper span {
    animation: blink 1s infinite; }

.logo {
  font-family: logo; }

.text-container {
  padding: 5%; }

.landing-container {
  min-height: 100vh; }
  .landing-container #logo h2 {
    font-family: logo;
    color: white;
    font-size: 2.5em;
    padding-left: 1em; }
  .landing-container #landing-image {
    width: 400px;
    display: block;
    margin: 0 auto; }
  .landing-container .text-container {
    padding: 5%; }
    .landing-container .text-container h1 {
      font-size: 3.2em;
      color: white; }
    .landing-container .text-container h2 {
      color: white;
      font-size: 2.5em; }
    .landing-container .text-container p {
      color: white;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 1.2em; }
  .landing-container .form-group .email {
    width: 0%;
    padding: 0;
    border: none;
    display: inline-block;
    position: relative; }
  .landing-container .form-group .submit {
    display: inline-block;
    background-color: #C5B3DC;
    border: none;
    padding: 6px 20px;
    position: relative;
    bottom: 1px; }
    .landing-container .form-group .submit:hover {
      border: 2px solid #C5B3DC;
      background-color: transparent;
      color: #C5B3DC; }

.pic-container {
  padding: 5%; }
  @media (max-width: 500px) {
    .pic-container {
      display: none; } }

.pics {
  width: 500px; }

.vision-container {
  min-height: 80vh; }

.hydration-container {
  min-height: 80vh; }

.charge-container {
  min-height: 80vh; }

.icon-container {
  text-align: center;
  background-color: #80D4F7;
  color: white;
  padding: 50px; }
  @media screen and (min-width: 768px) {
    .icon-container .icons {
      padding: 50px 200px; } }
  .icon-container img {
    width: 70px; }
  .icon-container .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    display: inline-block; }
  .icon-container .h20 {
    background-image: url(../img/faucet.png); }
  .icon-container .charge {
    background-image: url(../img/plug.png); }
  .icon-container .backpack {
    background-image: url(../img/backpack.png); }
  .icon-container .charity {
    background-image: url(../img/donation.png); }
  .icon-container .logo {
    font-size: 3em;
    text-transform: lowercase;
    font-family: logo; }
  .icon-container .email-footer {
    width: 40%;
    display: inline-block; }
    @media (max-width: 500px) {
      .icon-container .email-footer {
        width: 100%;
        margin-bottom: 10px; } }
  .icon-container p {
    font-family: 'Montserrat', sans-serif; }
  .icon-container .copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 15px; }
  .icon-container .submit {
    display: inline-block;
    background-color: #C5B3DC;
    border: none; }
    .icon-container .submit:hover {
      border: 2px solid #C5B3DC;
      background-color: transparent;
      color: #C5B3DC; }
    @media (max-width: 500px) {
      .icon-container .submit {
        width: 100%;
        margin-bottom: 30px; } }

/*# sourceMappingURL=theme.css.map */
