//fonts
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8h3zl5');
  src:  url('fonts/icomoon.eot?8h3zl5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8h3zl5') format('truetype'),
    url('fonts/icomoon.woff?8h3zl5') format('woff'),
    url('fonts/icomoon.svg?8h3zl5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea8d";
}
.icon-instagram:before {
  content: "\ea90";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-linkedin:before {
  content: "\eac8";
}

//Mixins
@mixin grad-purple{
  background: -webkit-linear-gradient(left top, #5634F6,  #DB8EC0, #FECAD2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5634F6,  #DB8EC0, #FECAD2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#5634F6, #DB8EC0, #FECAD2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5634F6, #DB8EC0, #FECAD2); /* Standard syntax */
}

@mixin grad-lightpink {
	background: #ddd6f3; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #ddd6f3 , #faaca8); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #ddd6f3 , #faaca8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin grad-blue {
  background: -webkit-linear-gradient(left top, #4958D7, #a4abeb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #5634F6, #a4abeb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right,#5634F6, #a4abeb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #5634F6, #a4abeb); /* Standard syntax */
}

@mixin grad-gray{
  background: -webkit-linear-gradient(left top, rgba(138,138,138, 0.9), rgba(207,207,207, 0.9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(138,138,138, 0.9), rgba(207,207,207, 0.9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(138,138,138, 0.9), rgba(207,207,207, 0.9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(138,138,138, 0.9), rgba(207,207,207, 0.9)); /* Standard syntax */
}


//Animations

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}



@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


.fadeInLeft {
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


// Variables
$font-hd: 'Montserrat', sans-serif;
$font-bt: 'Raleway', sans-serif;
$purple:  #5634F6;
$violet: #DB8EC0;
$pink: #FECAD2;

.main-container {
	margin-bottom: 0 !important;
	height: 100vh;
}

#left-container {
	height: 80vh;

	@media only screen and (min-width: 601px) {
		position: fixed;
		float: left;
		display: inline-block;
		height: 100vh;
	}

	@include grad-purple;
	.inner-text {
		height: 100%;
		text-align: center;
	}

	.text-wrapper {
		margin: 0 auto;
	}

	#picture {
		width: 170px;
		margin-bottom: 40px;
	}

	span {
		color: #4C34F7;
	}

	#name {
		font-size: 2em;
	}

	p {
		color: white;
		font-family: $font-hd;
		font-size: 1.5em;
		line-height: 15px;
	}

	.desc {
		font-size: 1.4em;
	}

	.left-button {
		font-family: $font-hd;
		font-size: 1em;
		font-weight: bold;
		padding: 8px 20px;
		background: white;
		border-radius: 20px;
		border: 2px solid white;
		color: white;
		span {
			color: $purple;
		}
		&:hover  {
			text-decoration: none;
			background: transparent;
			border-radius: 0px;
			span {
				color: white;
			}
		}
	}
	.social-media {
		font-size: 18px;
		margin-top: 20px;
		a {
			margin-right: 5px;
			color: $purple;
			&:hover, &:focus {
				text-decoration: none;
				cursor: pointer;
				span {
					color: white;
				}
			}
		}
	}
}

#right-container {
	float: right;
	padding: 50px;

  .row {
  	margin-left: 0;
  	margin-right: 0;
  	width: 100%;
  }

	span {
		font-family: $font-hd;
		font-size: 1em;
		color: $purple;
	}

	.title, .desc {
		height: 100%;
		display: inline-block;
	}

	.title {
		padding-right: 50px;
	}

	p {
		font-family: $font-bt;
		font-size: 1em;
	}

	.project-container {
		position: relative;
		background-size: cover;
		background-position: center;
		border-radius: 5px;
		margin-bottom: 30px;
		width: 100%;
		height: 300px;
		.text-container {
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: left;
			padding: 100px 50px;
			display: none;
			border-radius: 5px;
			p {
				font-family: $font-hd;
				color: white;
			}
		}
	}

	#lax {
		background-image: url(../laxsite.png);
		.text-container {
			@include grad-gray;
		}
	}

	#woke {
		background-image: url(../woke.png);
		.text-container {
			@include grad-gray;
		}
	}

	#chrysalis {
		background-image: url(../chrysalis.png);
		.text-container {
			@include grad-gray;
		}
	}

	.project-image {
		max-width: 90%;
		border-radius: 12px;
		margin-bottom: 30px;
		/*&:hover {
			max-width: 95%;
		}*/
	}

	.project-image-grow {
		animation-name: grow;
		-webkit-animation-name: grow;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
	}

	.emphasize {
		color: $violet;
	}

	ul {
		font-family: $font-hd;
		.year {
			color: $violet;
			margin-right: 10px;
		}
	}
}