body {
	margin: 0;
	border: 1px solid transparent;
}

canvas {
	height: 100%;
	width: 100%;
}
#main-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	/*background: -webkit-linear-gradient(#fccffc, #EAB9B4);
  	background: -o-linear-gradient(#fccffc, #EAB9B4);
  	background: -moz-linear-gradient(#fccffc, #EAB9B4);
  	background: linear-gradient(#fccffc, #EAB9B4);*/
  	background-image: url('flowers.jpg');
  	background-size: cover;

}

.wrapper {
	color: white;
}

#center-frame {
	width: 400px;
	height: 500px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-270px 0 0 -220px;
	text-align: center;
}

#name {
	font-family:'Open Sans', serif;
	letter-spacing: 3px;
	font-size: 50px;
	margin-bottom: 0;
	text-transform: uppercase;
}

#bio {
	font-family:'Josefin Slab', serif;
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: -5px;
}

#info {
	position: fixed;
	top: 25%;
	left: 10%;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	width: 100px;
}

li {
	width: 100%;
	display: block;
	font-family:'Josefin Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
	height: 4em;
	line-height: 4em;
	border: 2px solid #fff;
	padding: 5px;
	background: transparent;
	color: black;
}

li:hover {
	background: transparent;
	color: #fccffc;
}

.mid-li {
	border-top: none;
}