body {
	margin: 0;
	border: 1px solid transparent;
}

canvas {
	height: 100%;
	width: 100%;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

#main-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	/*background: -webkit-linear-gradient(#fccffc, #EAB9B4);
  	background: -o-linear-gradient(#fccffc, #EAB9B4);
  	background: -moz-linear-gradient(#fccffc, #EAB9B4);
  	background: linear-gradient(#fccffc, #EAB9B4);*/
  	background-image: url('flowers.jpg');
  	background-size: cover;

}

.wrapper {
	color: white;
}

#center-frame {
	width: 400px;
	height: 500px;
	padding: 20px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin:-270px 0 0 -220px;
	text-align: center;
}

#name {
	font-family:'Open Sans', serif;
	letter-spacing: 3px;
	font-size: 55px;
	margin-bottom: 0;
	text-transform: uppercase;
}

#bio {
	font-family:'Josefin Slab', serif;
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 0;
	margin-top: -5px;
}

#info {
	margin: 0 auto;
	position: fixed;
	//top: 25%;
	//left: 10%;
	padding-left: 0;
	text-align: center;
	list-style-type: none;
	width: 450px;
	bottom: 275px;
	left: 0;
	right: 0;
}

.icon {
	position: relative;
	top: 2px;
}

li {
	width: 150px;
	display: inline;
	font-family:'Josefin Slab', serif;
	font-weight: bold;
	text-transform: uppercase;
	height: 4em;
	line-height: 4em;
	border: 2px solid #fff;
	padding: 10px;
	background: transparent;
	color: #fff;
	font-weight: 700;
}

li:hover {
	background: #fff;
}

li a {
	color: #fff;
	font-family:'Josefin Slab', serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

li:hover a {
	color: #dd3c63;
}

.mid-li {
	border-left: none;
}